<p-tabView>
  <p-tabPanel header="Posts">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton
                type="button"
                label="New"
                icon="pi pi-plus"
                routerLink="/internal/editor">
        </button>
      </div>
    </p-toolbar>

    <p-table [value]="posts$ | async"
             [paginator]="true"
             [rows]="10"
             [rowsPerPageOptions]="[10, 25, 50, 100]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3em;">ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Created</th>
          <th>Modified</th>
          <th style="width: 8em;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-post>
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.authorUsername }}</td>
          <td>{{ post.created | date: "d/M/yy, H:mm:ss" }}</td>
          <td>{{ post.modified | date: "d/M/yy, H:mm:ss" }}</td>
          <td>
            <a [routerLink]="['/internal/editor', post.id]">
              <p-button icon="pi pi-pencil" styleClass="ui-button-info"></p-button>
            </a>

            <p-button icon="pi pi-times" styleClass="ui-button-danger" (onClick)="onPostDelete(post)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="Users" *rbacShow="['ADMIN']">
    <p-table [value]="users$ | async"
             [paginator]="true"
             [rows]="10"
             [rowsPerPageOptions]="[10, 25, 50, 100]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3em;">ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th style="width: 8em;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles | roles }}</td>
          <td>
            <a [routerLink]="'/profile/' + user.id + '/edit'">
              <p-button icon="pi pi-pencil" styleClass="ui-button-info"></p-button>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
