<ng-container *ngIf="post; else loading">
  <header>
    <h1>{{ post.title }}</h1>

    <h3 class="warning" *ngIf="!post.published">DRAFT</h3>

    <h5 *ngIf="post.published">{{ post.published | date: "d/M/yy, H:mm" }}</h5>
    <h5 *ngIf="!post.published">{{ post.created | date: "d/M/yy, H:mm" }}</h5>
  </header>

  <section class="post-preview" [innerHTML]="preview"></section>

  <main class="post-content" [innerHTML]="content"></main>

  <footer>
    <span *ngIf="post.published">Published</span>
    <span *ngIf="!post.published">Drafted</span>

    by {{ post.authorUsername }}
  </footer>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
