<div class="profile-card">
  <div class="profile-card-header">
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>F</span>
    <span>E</span>
    <span>D</span>
    <span>E</span>
    <span>R</span>
    <span>A</span>
    <span>T</span>
    <span>I</span>
    <span>O</span>
    <span>N</span>
  </div>

  <div class="profile-card-content">
    <div class="userpic">
      <img class="userpic" src="assets/Steve.png" alt="userpic">
    </div>

    <div class="info">
      <div class="nick">{{ username }}</div>
      <div class="email">{{ email || 'No email' }}</div>

      <span *ngFor="let role of roles">
        {{ role }}
      </span>

<!--      <ul class="roles">-->
<!--        <li><i class="pi pi-desktop"></i> Player</li>-->
<!--        <li><i class="pi pi-briefcase"></i> Op</li>-->
<!--        <li><i class="pi pi-palette"></i> Editor</li>-->
<!--        <li><i class="pi pi-id-card"></i> Admin</li>-->
<!--      </ul>-->
    </div>

    <img class="flag" src="assets/flag_h.png" alt="flag">
  </div>
</div>
