<div class="profile-card">
  <div class="profile-card-header">
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>F</span>
    <span>E</span>
    <span>D</span>
    <span>E</span>
    <span>R</span>
    <span>A</span>
    <span>T</span>
    <span>I</span>
    <span>O</span>
    <span>N</span>
  </div>

  <div class="profile-card-content">
    <div class="userpic">
      <img class="userpic" src="assets/Steve.png" alt="userpic">
    </div>

    <div class="info">
      <div class="nick">{{ username }}</div>
      <div class="email">{{ email || 'No email' }}</div>

      <ul class="roles">
        <li *ngFor="let role of roles" [ngSwitch]="role">
          <i *ngSwitchCase="'PLAYER'" class="pi pi-desktop"></i>
          <i *ngSwitchCase="'OP'" class="pi pi-briefcase"></i>
          <i *ngSwitchCase="'EDITOR'" class="pi pi-palette"></i>
          <i *ngSwitchCase="'ADMIN'" class="pi pi-id-card"></i>

          {{ role | titlecase }}
        </li>
      </ul>
    </div>

    <img class="flag" src="assets/flag_h.png" alt="flag">
  </div>
</div>
