h2 {
  margin-bottom: 10px;
}

div {
  margin-bottom: 10px;
}

.pending {
  color: dimgrey;
}

.online {
  color: green;
}

.offline {
  color: darkred;
}

.msg-copied {
  margin-top: 5px;
  color: #333333;
}
