<section>
  <h1>My profile</h1>

  <app-profile-card [username]="user?.username"
                    [email]="user?.email"
                    [roles]="user?.roles">
  </app-profile-card>

  <div class="actions">
    <a routerLink="/profile/edit/email" [state]="{user: user}">
      <p-button icon="pi pi-envelope" label="Edit email" styleClass="ui-button-times"></p-button>
    </a>

    <p-button icon="pi pi-key" label="Change password" styleClass="ui-button-times" (onClick)="null"></p-button>
  </div>
</section>
