<section>
  <h1>My profile</h1>

  <app-profile-card [username]="user?.username"
                    [email]="user?.email"
                    [roles]="user?.roles">
  </app-profile-card>

  <div class="actions">
    <p-button icon="pi pi-envelope" label="Edit email" styleClass="ui-button-times" (onClick)="null"></p-button>
    <p-button icon="pi pi-key" label="Change password" styleClass="ui-button-times" (onClick)="null"></p-button>
  </div>
</section>

<section>
  <h1>My adds</h1>

  TODO
</section>
