<h1>Change password</h1>

<form (submit)="submit($event)">
  <label>
    <input pInputText
           type="password"
           name="old_password"
           placeholder="Old password"
           [(ngModel)]="oldPassword"
           required
           minlength="6"
           maxlength="64"
           #old_password="ngModel">
  </label>

  <label>
    <input pInputText
           type="password"
           name="new_password"
           placeholder="New password"
           [(ngModel)]="newPassword"
           required
           minlength="6"
           maxlength="64"
           #new_password="ngModel">
  </label>

  <ng-container *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
    <p *ngIf="new_password.errors?.required">
      Password is required.
    </p>

    <p *ngIf="new_password.errors?.minlength">
      Password must be at least 6 characters long.
    </p>

    <p *ngIf="new_password.errors?.maxlength">
      Password must be not longer than 64 characters long.
    </p>
  </ng-container>

  <label>
    <input pInputText
           type="password"
           name="new_password_confirm"
           placeholder="Password once again"
           [(ngModel)]="newPasswordConfirm"
           required
           #new_password_confirm="ngModel">
  </label>

  <ng-container *ngIf="(new_password_confirm.dirty || new_password_confirm.touched)">
    <p *ngIf="new_password_confirm.errors?.required">
      Password confirmation is required.
    </p>

    <p *ngIf="new_password_confirm.value !== newPassword">
      Password confirmation does not match.
    </p>
  </ng-container>

  <button pButton class="ui-button-times" type="submit" label="Save"></button>

  <p *ngIf="error" class="warning">
    Something went wrong
  </p>
</form>
