<form *ngIf="!(username$ | async) else authenticated" (submit)="login($event, username.value, password.value)">
  <label>
    <input pInputText #username type="text" placeholder="Username">
  </label>

  <label>
    <input pInputText #password type="password" placeholder="Password">
  </label>

  <p class="warning" *ngIf="loginFailed$ | async">Login failed</p>

  <button pButton type="submit" class="ui-button-times" label="Login"></button>
  <button pButton class="ui-button-times" routerLink="register" label="Register"></button>
</form>

<ng-template #authenticated>
  <p>You are logged in as <a routerLink="profile">{{ username$ | async }}</a></p>
  <p><a href="#" (click)="logout()">Logout</a></p>
</ng-template>
