form {
  & input {
    margin-bottom: 5px;
    display: block;
  }

  & button {
    display: inline-block;
    margin-right: 5px;
  }

  & p {
    margin-bottom: 5px;
  }
}

a {
  font-weight: bold;
}
