<h1>Post editor</h1>

<form *ngIf="post; else loading" (submit)="submit($event)">
  <label>
    <input pInputText
           type="text"
           placeholder="Title"
           name="title"
           [(ngModel)]="post!.title">
  </label>

  <p-editor name="preview"
            [(ngModel)]="post!.preview"
            [style]="{'height': '320px'}">
  </p-editor>

  <p-editor name="content"
            [(ngModel)]="post!.content"
            [style]="{'height': '640px'}">
  </p-editor>

  <button pButton
          type="submit"
          label="Save"
          *ngIf="!savingInProgress; else saving">
  </button>

  <ng-template #saving>
    <button pButton
            disabled
            type="submit"
            label="Saving...">
    </button>
  </ng-template>

  <p *ngIf="error" class="warning">
    Something went wrong
  </p>
</form>

<ng-template #loading>
  Loading...
</ng-template>
